<div class="site-header">

  <!-- main -->
  <div class="site-header-main">
    <div class="site-container">
      <span *ngIf="variant === 'walmart'" class="site-header-main-logo walmart-logo"></span>
      <img class="site-header-main-logo moneygram-logo" [src]="'../assets/moneygram_logo.png'"/>
      <div class="site-header-main-functional-menu">
        <app-functional-menu></app-functional-menu>
      </div>
    </div>
  </div>

  <!-- menu -->
  <app-header-nav-menu *ngIf="variant != 'cpp'"></app-header-nav-menu>

</div>

