@import '../../../assets/helpers';

.site-header {
  @include font-reset(15px);
  width: 100%;

  &-mobile-spacer {
    @include dimensions(47px, 100%);
    @include theme(transparent, transparent);
    display: none;
  }

  &-main {
    @include dimensions(95px, 100%);
    background: $white;
    border-bottom: solid 3px $red;

    &-mobile-nav {
      @include full-cover;
      display: none;

      button {
        @include font-reset(14px);
        color: $blue-light;
        font-weight: bold;
        position: absolute;
        top: 0;
        bottom: 0;

        &.main-button {
          left:0;
        }

        &.sidenav-button {
          right:0;
          padding: 0;
          margin: 0;
          min-width: 47px;
          width: 47px;
          border-left: 1px solid $border;

          span {
            @include border-radius(30px);
            display: block;
            position: absolute;
            height: 3px;
            width: 45%;
            background: $text-dark;
            left: 14px;

            &:nth-child(1) {
              top: 16px;
            }

            &:nth-child(2) {
              top: 23px;
            }

            &:nth-child(3) {
              top: 30px;
            }
          }
        }
      }
    }

    &-logo {
      float: left;
      max-width: 200px;
      position: relative;
      top: 22px;
    }

    &-functional-menu {
      float: right;
      margin-top: 11px;
    }
  }

  @include bp(md) {

    &-mobile-spacer {
      display: block;
    }

    .site-header-main {
      @include dimensions(47px, 100%);
      @include theme($text-lighter, $white);
      border-bottom: 1px $border solid;
      position: fixed;
      z-index: 9;

      &-mobile-nav {
        display: block;
      }

      &-logo {
        @include center-block;
        float: none;
        max-width: 122px;
        top: 9px;

        &.walmart-logo {
          display: none;
        }
      }

      &-functional-menu {
        display: none;
      }
    }
  }
}

// overrides for Walmart theme
::ng-deep {
  body.walmart .site-header .site-header-main {
    border-bottom-color: $wm-blue2 !important;

    .site-header-main-mobile-nav {
      button {
        @include font-reset-wm(14px);
        color: $white;
        position: absolute;
        top: 0;
        bottom: 0;

        &.main-button {}

        &.sidenav-button {
          border-left-color: $wm-blue3;

          span {
            background: $white;
          }
        }
      }
    }

    .site-header-main-logo {
      &.walmart-logo {
        background: url("../../../assets/walmart_logo.png") right center no-repeat;
        background-size: contain;
        min-width: 160px;
        height: 40px;
      }

      &.moneygram-logo {
        border-left: 1px solid $input-border;
        padding-left: 20px;
        margin-left: 15px;
        max-width: 180px;

      }
    }

    @include bp(md) {
      @include theme($white !important, $wm-blue1 !important);

      .site-header-main-logo {

        &.walmart-logo {
          display: block !important;
          background: url("../../../assets/walmart-logo-mobile.svg") center center no-repeat;
          background-size: contain;
          height: 27px;
        }

        &.moneygram-logo {
          display: none;}
      }
    }
  }
}
