<div class="site-header-menu">
  <div class="site-container">
    <ul class="site-header-menu-list">
      <li class="site-header-menu-list-item" *ngFor="let link of menuLinks">
        <a routerLink="{{link.path}}">{{link.name}}</a>
      </li>
      <li class="site-header-menu-list-item">
        <button mat-button
                [matMenuTriggerFor]="learnMoreMenu"
                [disableRipple]="true">
          Learn More <span class="chevron-wrap"><span class="chevron-down"></span></span>
        </button>
        <mat-menu #learnMoreMenu="matMenu" class="site-header-learn-more-menu">
          <button mat-menu-item
                  [disableRipple]="true"
                  *ngFor="let link of learnMoreLinks"
                  routerLink="{{link.path}}">
            {{link.name}}
          </button>
        </mat-menu>
      </li>
    </ul>
  </div>
</div>
