@import '../assets/helpers';

::ng-deep {

  body {
    @include font-reset(16px);
    @include theme($text-light, $white);
    padding: 0;
    margin: 0;

    &.walmart {
      @include font-reset-wm(16px);
    }
  }

  .mat-drawer-container {
    @include font-reset(16px);
    @include theme($text-light, $white);
  }

  .site-container {
    @include center-block;
    width: 98%;
    max-width: 1170px;
  }

}
